html{
  border-left: 200px solid rgb(247,246,244);
  border-right:  200px solid rgb(247,246,244);
  border-top:  30px solid rgb(247,246,244);
  border-bottom: 30px solid rgb(247,246,244);
  min-width:950px;  /* Pay EXTRA attention to min attributes, they support elements from collapsing */
}

body{
  background: white;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

/*Header Header Header Header Header Header Header*/
header{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
}

.logo{
  transform: scale(0.90);
  position: relative;
  top: 18px;
}

.searchbar{
  justify-self: end;
  align-self: end;
  transform: scale(1.1);
  margin-right: 10px;
}

.searchbar input[type=text]{
  height: 2em;
  width: 12em;
}

.searchbar input[type=submit]{
  width: 5em;
  height: 2.6em;
  position: relative;
  bottom: 0.1em;
  background: #777;
  border: none;
  color: white;
}

nav li{
  display: inline;
  margin-right: 2em;
}

nav{
  grid-column: 1/3;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 2.5px solid black;
  margin-top: 30px;
  max-height: 3em;
  min-height: 3em;
}
/*Header Header Header Header Header Header Header*/

/*Body Body Body Body Body Body Body Body Body Body*/
.mainbody{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2em;
  margin-top: 2em;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-auto-rows: minmax(250px,auto);*/
  gap: 2em;

}

.slide{
  margin-top: 1.5em;
}

.sidebar{
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 2em;

}

.newsletter label{
  display: block;
  text-align: left;
  margin-left: 0.65em;
  margin-top: 1em;
  margin-bottom: -0.5em;
}

.newsletter{
  text-align: center;
}

.newsletter input[type=text]{
  width: 360px;
  height: 2.5em;
  border: 2px solid rgb(221,221,221);
  margin-top: 1em;
  background: rgb(241,241,241);
}

.newsletter input[type=submit]{
  display: block;
  text-align: center;
  width: 365px;
  height: 3.7em;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  background: rgb(132,132,132);
}

.first_content{
  grid-column: 1/3;
  height: auto;
  border-bottom: 1px solid #eee;

}

.first_side{
  height: auto;
  border-bottom: 1px solid #eee;


}

.post{
  border-bottom: 1px solid #eee;
  padding-bottom: 40px;
}

.last{
  border: none;
}

.pages{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-top: 1px solid #eee;
  margin-top: -3em;
}

.next{
  justify-self: end;
  align-self: center;
  margin-top: 13px;
}

.num{
  text-align: center;
  margin-top: 13px;
}

.num li{
  display: inline;
  margin-right: 1em;
}

#pagenumber a{
  color:rgb(219,114,68)
}

._2{
  display: grid;
  grid-template-rows:auto repeat(6, 1fr);
  grid-auto-rows: minmax(auto,80px);
}

._2 img{
  float: left;
  margin-right: 1em;
}

.side_post{
  border-bottom: 1px solid #eee;
  margin-top: 1.5em;
  height: 80px;

}
/*Body Body Body Body Body Body Body Body Body Body*/

/*Footer Footer Footer Footer Footer Footer Footer */
footer{
  border-top: 2.5px solid #eee;
  margin-top: 70px;
  margin-bottom: 60px;
}
